[user]
  name = Junhao Jiang
[credential]
  helper = osxkeychain
[alias]
  st = status
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  sync = "!f() { echo Syncing $1 with master && git checkout master && git fetch upstream && git merge upstream/master && git push origin master && git checkout $1 && git rebase -i master; }; f"
  upload = "!f() { echo Merge pull request from $1 && git push upstream $1:master; }; f"
  conflicts = "!git diff --name-only --diff-filter=U"
  # work @WalmartLabs
  syncmidas = "!f() { echo Syncing with master && git checkout master && git fetch upstream && git rebase -i upstream/master; }; f"
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true
